#notes,
#buttons {
  text-align: center;
  padding-bottom: 20px;
}
#board {
  display: none;
  text-align: center;
  justify-content: center;
  grid-template-rows: 75px 75px 75px;
  grid-template-columns: 75px 75px 75px;
}
#board.disabled {
  pointer-events: none;
  opacity: 0.5;
  background: #cccccc;
}
#turn {
  display: none;
}
#reset {
  display: none;
}

.square {
  font-size: 75px;
  display: inline-block;
  background: grey;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
